!!! 5
%html

  %head
    %title #{params[:q]} (search)
    %style= sass :style

  %body
    .wrapper

      %form
        %input{name: "q", value: params[:q]}/
        %p= result.matches_verbose

      - if list
        - result.list.each do |r|
          %address= r
      - else
        - result.show.each do |r|
          %address= r[0]
          %p.result= r[1].gsub(/[\[\]]/, "["=>"<ins>", "]"=>"</ins>")

